.rightPanel {
   flex: 1 1 auto;

   .topSide {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .note {
         max-width: 35px;
         max-height: 35px;
         cursor: pointer;
      }

      .note > img {
         max-width: 35px;
         max-height: 35px;
      }
   }
}
